*.pth filter=lfs diff=lfs merge=lfs -text
best_fabric_classifier.pth filter=lfs diff=lfs merge=lfs -text
checkpoints/checkpoint.pth filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
/checkpoints/* filter=lfs diff=lfs merge=lfs -text
